body {
	display: flex!important;
	min-height: 100vh!important;
	flex-direction: column!important;
}

main {
	flex: 1 0 auto!important;
}

.indicator {
    background-color: #265073!important;
    color: #265073;
}

.brand-logo {
	color: #265073;
}

a {
	color:  #265073!important;
}
.main-section {
	margin-top: 30px;
}

.cloud svg text {
	cursor: pointer;
	cursor: hand;
}

.tab:hover{
	background-color: #265073;
}
.tab a:hover{
	color: #FFF!important;
}

.spinner-blue,
.spinner-blue-only {
  border-color: #265073!important;
}